# Flutter
summative/FlutterApp/build/
summative/FlutterApp/.dart_tool/
summative/FlutterApp/.flutter-plugins
summative/FlutterApp/.flutter-plugins-dependencies
summative/FlutterApp/.packages
summative/FlutterApp/android/.gradle/
summative/FlutterApp/android/app/build/

# Python
__pycache__/
*.pyc
.venv/
venv/

# OS
.DS_Store